
/.classpath
/.project
/.settings/.jsdtscope
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.wst.common.component
/.settings/org.eclipse.wst.common.project.facet.core.xml
/.settings/org.eclipse.wst.jsdt.ui.superType.container
/.settings/org.eclipse.wst.jsdt.ui.superType.name
/target/classes/com/sksamuel/camelwatch/CamelConnection.class
/target/classes/com/sksamuel/camelwatch/CamelJmxConnection.class
/target/classes/com/sksamuel/camelwatch/CamelJmxConnectionFactory.class
/target/classes/com/sksamuel/camelwatch/Component.class
/target/classes/com/sksamuel/camelwatch/Connector.class
/target/classes/com/sksamuel/camelwatch/Endpoint.class
/target/classes/com/sksamuel/camelwatch/EndpointFactory.class
/target/classes/com/sksamuel/camelwatch/Route.class
/target/classes/com/sksamuel/camelwatch/RouteFactory.class
/target/classes/com/sksamuel/camelwatch/web/RouteController.class
/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/target/m2e-wtp/web-resources/META-INF/maven/com.sksamuel/camelwatch/pom.properties
/target/m2e-wtp/web-resources/META-INF/maven/com.sksamuel/camelwatch/pom.xml
/target/classes/com/sksamuel/camelwatch/Consumer.class
/target/classes/com/sksamuel/camelwatch/ConsumerFactory.class
/target/classes/com/sksamuel/camelwatch/ConsumerOperations.class
/target/classes/com/sksamuel/camelwatch/MBeanUtils.class
/target/classes/com/sksamuel/camelwatch/ConsumerOperationsJmxImpl.class
/target/classes/com/sksamuel/camelwatch/RouteOperationsJmxImpl.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/META-INF/DEPENDENCIES
/target/m2e-wtp/overlays/camel-web-2.9.1.war/META-INF/LICENSE
/target/m2e-wtp/overlays/camel-web-2.9.1.war/META-INF/LICENSE.txt
/target/m2e-wtp/overlays/camel-web-2.9.1.war/META-INF/MANIFEST.MF
/target/m2e-wtp/overlays/camel-web-2.9.1.war/META-INF/NOTICE
/target/m2e-wtp/overlays/camel-web-2.9.1.war/META-INF/NOTICE.txt
/target/m2e-wtp/overlays/camel-web-2.9.1.war/META-INF/maven/org.apache.camel/camel-web/pom.properties
/target/m2e-wtp/overlays/camel-web-2.9.1.war/META-INF/maven/org.apache.camel/camel-web/pom.xml
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/applicationContext.xml
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/META-INF/DEPENDENCIES
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/META-INF/LICENSE
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/META-INF/LICENSE.txt
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/META-INF/NOTICE
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/META-INF/NOTICE.txt
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/application-doc.xml
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/application-grammars.xml
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/log4j.properties
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/logback.xml
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/model/Camel.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/model/EndpointLink.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/model/Endpoints.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/model/Route.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/model/jaxb.index
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/model/package-info.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$CamelContextResource_api_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$CamelContextResource_api_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$CamelContextResource_index_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$CamelContextResource_index_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$CamelContextResource_systemProperties_ssp$$anonfun$$_scalate_$render$1.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$CamelContextResource_systemProperties_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$CamelContextResource_systemProperties_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ComponentResource_index_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ComponentResource_index_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ComponentsResource_index_ssp$$anonfun$$_scalate_$render$1.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ComponentsResource_index_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ComponentsResource_index_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ConvertersFromResource_index_ssp$$anonfun$$_scalate_$render$1.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ConvertersFromResource_index_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ConvertersFromResource_index_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ConvertersResource_index_ssp$$anonfun$$_scalate_$render$1.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ConvertersResource_index_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ConvertersResource_index_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$EndpointResource_index_ssp$$anonfun$$_scalate_$render$1.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$EndpointResource_index_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$EndpointResource_index_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$EndpointResource_send_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$EndpointResource_send_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$EndpointsResource_index_ssp$$anonfun$$_scalate_$render$1.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$EndpointsResource_index_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$EndpointsResource_index_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ExchangeResource_index_ssp$$anonfun$$_scalate_$render$1.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ExchangeResource_index_ssp$$anonfun$$_scalate_$render$2.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ExchangeResource_index_ssp$.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$ExchangeResource_index_ssp.class
/target/m2e-wtp/overlays/camel-web-2.9.1.war/WEB-INF/classes/org/apache/camel/web/resources/$_scalate_$LanguageResource_index_ssp$.class
/target