<table border="1" cellspacing="0" cellpadding="3">
<tr>
 <td colspan="6" class="title">Routes</td>
</tr>
<tr>
 <td class="header-left">CamelId</td>
 <td class="header-left">RouteId</td>
 <td class="header-center">State</td>
 <td class="header-center">Last Exchange Time</td>
 <td class="header-left">Inflight</td>
 <td class="header-left">Commands</td>
</tr>
#foreach ($route in $routes) 
<tr>
	<td class="row-left" bgcolor="#FFFFFF">$route.camelId</td>
	<td class="row-left" bgcolor="#FFFFFF">$route.routeId</td>
 	<td class="row-left" bgcolor="#FFFFFF">$route.state</td>
	<td class="row-center" bgcolor="#FFFFFF">$!route.lastExchangeCompletedTimestamp</td>
 	<td class="row-center" bgcolor="#FFFFFF">$!route.inflightExchanges</td>
	<td class="row-left" bgcolor="#FFFFFF"><a href="route/$route.routeId/start">Start</a> <a href="route/$route.routeId/stop">Stop</a> <a href="route/$route.routeId/shutdown">Shutdown</a></td>
</tr>
#end
</table>






<table border="1" cellspacing="0" cellpadding="3">
<tr>
 <td colspan="5" class="title">Consumers</td>
</tr>
<tr>
 <td class="header-left">CamelId</td>
 <td class="header-left">RouteId</td>
 <td class="header-center">State</td>
 <td class="header-left">Inflight</td>
 <td class="header-left">Commands</td>
</tr>
#foreach ($consumer in $consumers) 
<tr>
	<td class="row-left" bgcolor="#FFFFFF">$consumer.camelId</td>
	<td class="row-left" bgcolor="#FFFFFF">$consumer.routeId</td>
 	<td class="row-left" bgcolor="#FFFFFF">$consumer.state</td>
 	<td class="row-center" bgcolor="#FFFFFF">$!consumer.inflightExchanges</td>
	<td class="row-left" bgcolor="#FFFFFF" rowspan="2"><a href="consumer/$consumer.routeId/start">Start</a> <a href="consumer/$consumer.routeId/stop">Stop</a> <a href="consumer/$consumer.routeId/shutdown">Shutdown</a></td>
</tr>
<tr>
	<td class="row-left" bgcolor="#FFFFFF" colspan="4">$consumer.endpointUri</td>
	
</tr>
#end
</table>