#parse("header.vm")

<h1>Camel Watch: $camelId</h1>

#parse("message.vm")

<table cellspacing="0" cellpadding="3">
<caption>Routes</caption>
<tr>
 <th>Route Id</th>
 <th>State</th>
 <th>Last Completed</th>
 <th>Last Failure</th>
 <th>Inflight</th>
 <th>Load</th>
 <th>Commands</th>
</tr>

#foreach ($route in $routes)
<tr>
	<td><a href="#springUrl("/route/$route.routeId")">$route.routeId</a></td>
 	<td>$route.state</td>
	<td>$!datetool.format("dd MMM yyyy HH:mm:ss", $route.lastExchangeCompletedTimestamp)</td>
	<td>$!datetool.format("dd MMM yyyy HH:mm:ss", $route.lastExchangeFailureTimestamp)</td>
 	<td>$!route.inflightExchanges</td>
 	<td>$!route.load01 / $!route.load05 / $!route.load15</td>
	<td><a href="#springUrl("/route/$route.routeId/start")">Start</a> <a href="#springUrl("/route/$route.routeId/stop")">Stop</a></td>
</tr>
#end
</table>




<table cellspacing="0" cellpadding="3">
<caption>Consumers</caption>
<tr>
 <th>Route Id</th>
 <th>State</th>
 <th>Suspended</th>
 <th>Delay</th>
 <th>Inflight</th>
 <th>Commands</th>
</tr>
#foreach ($consumer in $consumers)
<tr>
	<td><a href="#springUrl("/consumer/$consumer.name")">$consumer.properties.RouteId</a></td>
 	<td>$consumer.properties.State</td>
 	<td>$!consumer.properties.Suspended</td>
 	<td>$!consumer.properties.Delay</td>
 	<td>$!consumer.properties.InflightExchanges</td>
	<td rowspan="2"><a href="consumer/$consumer.name/start">Start</a> <a href="consumer/$consumer.name/stop">Stop</a></td>
</tr>
<tr>
	<td colspan="5">$consumer.properties.EndpointUri</td>
</tr>
#end
</table>





<table cellspacing="0" cellpadding="3">
<caption>Endpoints</caption>
<tr>
 <th>State</th>
 <th>Singleton</th>
</tr>
#foreach ($endpoint in $endpoints)
<tr>
 	<td>$!endpoint.properties.State</td>
 	<td>$!endpoint.properties.Singleton</td>
</tr>
<tr>
	<td colspan="4">$endpoint.properties.EndpointUri</td>
</tr>
#end
</table>




<table cellspacing="0" cellpadding="3">
<caption>Error Handlers</caption>
<tr>
 <th>Name</th>
 <th>Support Redelivery</th>
 <th>Maximum Redeliveries</th>
 <th>Dead Letter Channel</th>
</tr>
#foreach ($errorhandler in $errorhandlers)
<tr>
	<td><a href="#springUrl("/errorHandler/$errorhandler.name")">$errorhandler.name</a></td>
	<td>$errorhandler.properties.SupportRedelivery</td>
 	<td>$errorhandler.properties.MaximumRedeliveries</td>
 	<td>$errorhandler.properties.DeadLetterChannel</td>
</tr>
#end
</table>

#parse("footer.vm")