#parse("header.vm")


<table border="1" cellspacing="0" cellpadding="3">
<caption>Route</caption>
<tr>
	<td>Camel Id</td>
	<td>$route.camelId</td>
</tr><tr>
	<td>Route Id</td>
	<td>$route.routeId</td>
</tr>
<tr>
	<td>Endpoint Uri</td>
	<td>$route.endpointUri</td>
</tr>
<tr>
	<td>Description</td>
	<td>$route.description</td>
</tr>
<tr>
	<td>Route Policy List</td>
	<td>$route.routePolicyList</td>
</tr>
<tr>
	<td>State</td>
	<td>$route.state</td>
</tr>
</table>




<table border="1" cellspacing="0" cellpadding="3">
<caption>Statistics</caption>
<tr>
	<td>LastExchangeCompletedExchangeId</td>
	<td>$route.lastExchangeCompletedExchangeId</td>
</tr>
<tr>
	<td>ExchangesTotal</td>
	<td>$route.exchangesTotal</td>
</tr>
<tr>
	<td>FailuresHandled</td>
	<td>$route.failuresHandled</td>
</tr>
</table>



<table cellspacing="0" cellpadding="3">
<caption>Processors</caption>
<tr>
 <th>Processor Id</th>
 <th>State</th>
 <th>Last Completed</th>
 <th>Last Failure</th>
 <th>Inflight</th>
 <th>Completed</th>
 <th>Failed</th>
 <th>Total</th>
 <th>Mean Time</th>
</tr>

#foreach ($processor in $processors)
<tr>
	<td>$processor.properties.ProcessorId</td>
 	<td>$processor.properties.State</td>
	<td>$!datetool.format("dd MMM yyyy HH:mm:ss", $processor.properties.LastExchangeCompletedTimestamp)</td>
	<td>$!datetool.format("dd MMM yyyy HH:mm:ss", $processor.properties.LastExchangeFailureTimestamp)</td>
 	<td>$!processor.properties.InflightExchanges</td>
 	<td>$!processor.properties.ExchangesCompleted</td>
 	<td>$!processor.properties.ExchangesFailed</td>
 	<td>$!processor.properties.ExchangesTotal</td>
 	<td>$!processor.properties.MeanProcessingTime ms</td>
</tr>
#end
</table>





#parse("footer.vm")