#parse("header.vm")


<table border="1" cellspacing="0" cellpadding="3">
<caption>Route</caption>
#foreach ($entry in $route.properties.entrySet())
<tr>
	<td>$entry.key</td>
	#if ($entry.key == "CamelId")
	<td><a href="#springUrl("/context/$entry.value")">$entry.value</td>
	#else
	<td>$!entry.value</td>
	#end
</tr>
#end
</table>



<table cellspacing="0" cellpadding="3">
<caption>Processors</caption>
<tr>
 <th>Processor Id</th>
 <th>State</th>
 <th>Last Completed</th>
 <th>Last Failure</th>
 <th>Inflight</th>
 <th>Completed</th>
 <th>Failed</th>
 <th>Total</th>
 <th>Mean Time</th>
</tr>

#foreach ($processor in $processors)
<tr>
	<td>$processor.properties.ProcessorId</td>
 	<td>$processor.properties.State</td>
	<td>$!datetool.format("dd MMM yyyy HH:mm:ss", $processor.properties.LastExchangeCompletedTimestamp)</td>
	<td>$!datetool.format("dd MMM yyyy HH:mm:ss", $processor.properties.LastExchangeFailureTimestamp)</td>
 	<td>$!processor.properties.InflightExchanges</td>
 	<td>$!processor.properties.ExchangesCompleted</td>
 	<td>$!processor.properties.ExchangesFailed</td>
 	<td>$!processor.properties.ExchangesTotal</td>
 	<td>$!processor.properties.MeanProcessingTime ms</td>
</tr>
#end
</table>



<table cellspacing="0" cellpadding="3">
<caption>Route XML</caption>
<form method="POST" action="#springUrl("/route/$route.properties.RouteId/update")">
<tr>
	<td><textarea cols="140" rows="$xml.split("\n").size()" name="xml">$xml</textarea><br/>
			<input type="submit" value="Update"/></td>
</tr>
</form>
</table>




#parse("footer.vm")